<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ restaurant_name }} - About Us </title>
</head>
<body style="margin:0; font-family:Arial, sans-serif;background-color:#f8f9fa; color:#333;">

<!-- Header -->
<header style="background-color:#2c3e50; padding:50px; text-align:center; color:white;">
    <h1  style="margin:0; font-size:2.5rem;">About {{ restaurant_name }}</h1>
    <p style="margin-top:5px; font-size:1.5rem;">Our Story & Values</p>
    <nav>
        <a href="index.html" style="color:white; margin:0 10px;text-decorations:none;">Home</a>
        <a href="about.html" style="color:white; margin:0 10px; text-decorations:none">About Us</a>
        <a href="/menu" style="color:white; margin:0 10px;text-decorations:none;">Menu</a>
    </nav>
</header>
<!-- Main content -->
    <main style="padding:40px; max-width:900px; margin:auto;text-align:center;">
    <h2 style="font-size:2rem; color:#e74c3c;">Welcome to {{ restaurant_name}</h2>}

    <p style="font-size:1rem; line-height:1.6rem">
        Founded with a passion for flavor and hospitality ,{{ restaurant_name }} bring together fresh
        ingrediants and warm service to create a truly unforgettable dining experience. Whether you're 
        here for quick bite or a special occassion,we aim to make every visit delicious and memorable.
    </p>
    <img src="images/restaurant-interior.jpg" alt="Restaurant Interior" style="max-width:100%; margin-top:20px; border-radius:8px;">
    </main>

    <!--Footer--> 
    <footer style="background-color:#2c3e50; color:white; text-align:center; padding:0px; margin-top:40px;">
        <p style="margin:0;">&copy;2025 {{ restaurant_name}}.All rights reserved.</p>
    </footer>
</body>
</html>