{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Contact Us</title>
        <link rel="stylesheet" href="{%  static  'restaurant_management/css/style.css'%}">
    </head>
<body>
    <div class="container">
        <h1>Contact Us</h1>
        <p><strong>Address:</strong>123 Food Street ,Noida,45687</p>
        <p><strong>Phone:</strong>+9 (123) 456-7890</p>
        <p><strong>Email:</strong>contact@ourrestaurant.com</p>

        <h2>Opening Hours</h2>
        <ul>
            <li>Mon-Fri: 10am to 10pm</li>
            <li>Sat-Sun:11am to 11pm</li>
        </ul>
    </div>
</body>
</html>