{%  load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to Our Restaurant</title>
        <link rel="stylesheet" type="text/css" href="{% static 'restaurant_management/css/style.css %">
    </head>
 <body>
    <div class="container">
        <h1>Welcome to Our Restaurant </h1>
        <ul>
            <li>
                <span class ='menu-item-name'>Margherita Pizza</span>
                <span class='menu-item-price'>$8.99</span>
            </li>
            <li>
                <span class='menu-item-name'>White Sauce Pasta</span>
                <span class='menu-item-price'>$12.00</span>
            </li>
            <li>
                <span class='menu-item-name'>Red Sauce Pasta</span>
                <span class='menu-item-price'>$12.00</span>
            </li>

            <li>
                <span class='menu-item-name'>Grilled Salad</span>
                <span class='menu-item-price'>$8.23</span>
            </li>
        </ul>
    </div>
 </body>
</html>